@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	background: linear-gradient(0deg, #1b71fc, #5562fc, #4eeaf9);
	width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
	opacity: .85;
	width: 15px;
}