@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.bg-black-slider {
    background: rgb(0,0,0);
    background: linear-gradient(-90deg, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
}
@media (max-width: 767px) {
    .bg-black-slider {background: linear-gradient(0deg, rgba(0,0,0,1) 16%, rgba(0,0,0,0) 100%);}
}
.typography {font-family: 'Pacifico', cursive;}
.content-ico i{display: flex !important;}